.profile__buttons_type_add{
    width:150px;
    height:50px;
    background-image: url(../../../../images/buttons/Add\ Button.svg);
    background-color: black;
    border:none;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 4;
    grid-row: 1;
    margin-bottom: 6.7%;
}