.profile__buttons_type_editig {
  width: 24px;
  height: 24px;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
}
.profile__buttons_type_editig:hover {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
