.profile__buttons_type_editig{
    width:24px;
    height:24px;
    background-image: url(../../../../images/buttons/Edit\ Button.svg);
    background-color: black;
    border:none;
    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 6.7%;
}