.popup__close {
  position: absolute; 
  background-image: url(../../../images/popup/Close\ Icon.svg);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  border: 0;

  cursor: pointer;

  width: 32px;
  height: 32px;
  top: -40px;
  right:-40px;
}
.popup__close:hover {
  opacity: 0.6;
}
@media screen and (min-width: 250px) and (max-width: 460px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -10%;
    left: 93%;
  }
}

