.footer__logo {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #545454;
}
@media screen and (min-width: 250px) and (max-width: 800px) {
  .footer__logo {
    font-size: 14px;
    line-height: 17px;
  }
}
