.profile__edit {
  width: 24px;
  height: 24px;
  align-self: center;
}
.profile__edit:hover {
  opacity: 0.6;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
@media screen and (min-width:300px) and (max-width:800px){
  .profile__edit{
    width: 18px;
    height: 18px;
  }
}