.profile__buttons_type_add {
  width: 150px;
  height: 50px;
  align-self: center;
  background-image: url(../../../../images/buttons/Add\ Button.svg);
}
.profile__buttons_type_add:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}
@media screen and (min-width: 250px) and (max-width: 800px) {
  .profile__buttons_type_add {
    width: 282px;
    height: 50px;
    background-image: url(../../../../images/buttons/Add\ Button.png);
  }
  .profile__buttons_type_add:hover {
    opacity: 0.6;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
  }
}
