.profile {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 1%) minmax(150px, 35%) minmax(150px, 2%) minmax(
      150px,
      100%
    );
  margin: 5% 15.7% 0 15.7%;
  max-width: 880px;
  width: 68.6%;
}
@media screen and (min-width:300px) and (max-width:400){
  .profile{
    grid-template-columns: minmax(150px, 320px);
    grid-template-rows: repeat(4,minmax(50px,250px));
  }
  
}
