.profile {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 1%) minmax(150px, 35%) minmax(150px, 2%) minmax(
      150px,
      100%
    );
  margin: 5% 15.7% 0 15.7%;
  max-width: 880px;
  width: 68.6%;
}
@media screen and (min-width:300px) and (max-width:400){
  .profile{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width:320px;
      margin: 0;
  }
  
}
