.profile {
  display: grid;
  grid-template-columns: repeat(4,minmax(150px,294px));
  grid-template-rows: repeat(2,minmax(128px,294px));
  margin: 5% 15.7% 0 15.7%;
  max-width: 880px;
  width: 68.6%;
  
}
