.profile {
  display: grid;
  grid-template-columns: minmax(150px, 1%) minmax(150px, 70%)minmax(150px, 2.33fr);
  grid-template-rows: repeat(2,minmax(100px,120px));
  margin: 5% 15.7% 0 15.7%;
  max-width: 880px;
  width: 68.6%;
  
}
