.profile {
  display: grid;
  grid-template-columns: 1fr 340px 1fr 1fr 1fr;
  margin: 40px 15.7% 51px 15.7%;
  max-width: 880px;
}
@media screen and (min-width: 250px) and (max-width: 820px) {
  .profile {
    justify-items: center;
    grid-template-columns: 289px;
    grid-template-rows: 120px 120px 50px;
    justify-content: center;
    margin: 38.25px auto 36px auto;
  }
}
