.popup {
  position: absolute;
  width: 1280px;
  height: 720px;
  background-color: #00000050;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 250px) and (max-width: 800px) {
  .popup {
    width: 1280px;
    height: 720px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
