.table__button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/buttons/Like\ Button.svg);
  border: none;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: flex-end;
  margin-left: 10%;
}
.table__button:hover {
  background: #000000;
  opacity: 0.5;
}
