.profile__button {
  display: flex;
  grid-column: 5; 
  justify-self: center;
}
@media screen and (min-width: 250px) and (max-width: 900px){
  .profile__button{
    grid-column: 1;
    grid-row: 3;
  }
}