.table__container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  gap: 2%;
  background-color: black;
}
@media screen and (min-width: 300px) and (max-width: 1400px) {
  .table__container {
    grid-template-columns: repeat(1, 33.33%);
    gap: 1%;
  }
}
