@media screen and (min-width:200px) and (max-width:800px) {
  .profile__buttons_type_add_mobile{
    width:282px;
    background-size: cover;
    background-image: url(../../../../images/buttons/Add\ Button.svg);
    z-index: 10;
    padding: 1%;

  }
  
}
.profile__buttons_type_add_mobile :hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}
